body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hamburger-menu {
    background-color: #1379dc!important;
    color: white!important;
    padding-left: 30px!important;
    padding-bottom: 5px!important;
    padding-top: 5px!important;
    width: 60px!important;
    height: 45px!important;
}
.hamburger-col-menu {
    color: black!important;
    width: 15px!important;
    height: 15px!important;
}

.btn-hamburger {
    border-radius: 0px!important;
    border: none!important;
    cursor: pointer!important;
    /*z-index: auto!important;*/
}

.btn-hamburger-menu {
    background-color: #1379dc!important;
    font-size: 1.3rem!important;
    color: white!important;
    line-height: 2.1rem!important;
    padding-right: 10px!important;
    border-radius: 0px!important;
    border: none!important;
    cursor: pointer!important;
    fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    box-shadow: none!important;
}



.DropDownItemDivider {
    padding: .009rem .009rem!important;
    background-color: lightgray!important;
    margin-bottom: 4px;
    margin-top: 2px;
    white-space: nowrap;
}
.menu-icon {
    margin-right: 13px!important;
    color: darkgray!important;
}
.menu-icon-disabled {
    opacity: 60%!important;
    margin-right: 13px!important;
    color: darkgray!important;
}
.menu-item-disabled {
    opacity: 20%!important;
}

.row {
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
    display: flex!important;
    z-index: 1!important;
}

.row:after {
    content: ""!important;
    display: table!important;
    clear: both!important;
}

.btn-permident {
    background-color: #1379dc!important;
    font-size: .8rem!important;
    color: white!important;
    line-height: 2.1rem!important;
    font-weight: 500!important;
    padding-right: 30px!important;
    border-radius: 0px!important;
    border: none!important;
    cursor: pointer!important;
    z-index: 1!important;
    fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    box-shadow: none!important;
}

.user-shield {
    background-color: #1379dc!important;
    margin-top: 14px;
    font-size: 1.0rem!important;
    color: white!important;
    border-radius: 0px!important;
    border: none!important;
    cursor: pointer!important;
    fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.submenu {
    padding-left: 20px!important;
}
.submenu>.btn {
    background-color: white!important;
    color: black!important;
    border: none!important;
    padding-left: 0px!important;
}
.submenu>.btn:hover {
    background-color: #f8f9fa!important;
}
.submenu:hover {
    background-color: #f8f9fa!important;
}
.submenu>.btn-primary:focus {
    box-shadow: none!important;
}

.title-col-1 {
    float: left;
    width: 75%!important;
    padding-bottom: 10px!important;
    padding-left: 15px!important;
    display: flex!important;
}

.title-col-2 {
    background-color: #1379dc!important;
    height: 45px!important;
    float: right!important;
    width: 25%!important;
    justify-content: flex-end!important;
    /*direction: rtl;*/
    padding-bottom: 10px!important;
    padding-left: 0px!important;
    display: flex!important;
    z-index: 1!important;
}

.title {
    background-color: #1379dc!important;
    text-indent: 15px!important;
    padding-top: 3px!important;
    width: 100%!important;
    background-color: #1379dc!important;
    color: white!important;
    font-size: 1.2rem!important;
    line-height: 2.4rem!important;
    font-weight: 500!important;
    fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.username {
    display: inline-block;
    padding-left: 10px;
}

.signin {
    background-color: #1379dc!important;
    text-indent: 20px!important;
    background-color: #1379dc!important;
    color: white!important;
    font-size: .8rem!important;
    line-height: 2.4rem!important;
    font-weight: 500!important;
    fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.vl {
    content: "";
    display: inline-block;
    width: 17px;
    height: 30px;
    border-right: 0px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    position: relative;
    top: 0px;
    left: 7px;
}

.input-spyglass {
    font-size: 14px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 250px;
    margin-right: -5px;
}

.node-item-text {
    font-size: 14px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 400px;
    margin-right: -5px;
}
.node-item-username {
    font-size: 14px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 50px;
    margin-right: -5px;
}
.node-item-password {
    font-size: 14px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 500px;
    margin-right: -5px;
}
.login-label {
    font-size: 14px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 4px;
    width: 500px;
    margin-right: -5px;
}

.btn-go{
    border-color: -internal-light-dark-color(grey, grey);
    color: gray!important;
    border-radius: 3px;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 35px;
    border-style: solid;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn {
    border-color: gray!important;
}

.btn-action {
    display: inline!important;
    border-color: -internal-light-dark-color(grey, grey);
    /*border: 1px gray!important;*/
    border-radius: 3px;
    color: gray!important;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 85px;
    border-style: solid;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn-edit{
    border-color: -internal-light-dark-color(grey, grey);
    border-radius: 3px;
    color: gray!important;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 50px;
    border-style: solid;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn-save{
    border-color: -internal-light-dark-color(grey, grey);
    border-radius: 3px;
    color: gray!important;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 50px;
    border-style: solid;
    margin-left: 7px;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn-save-active{
    border-color: -internal-light-dark-color(grey, grey);
    border-radius: 3px;
    color: white!important;
    background-color: blue!important;
    border-width: 1px;
    height: 30px;
    width: 50px;
    border-style: solid;
    margin-left: 7px;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn-addrow{
    border-color: -internal-light-dark-color(grey, grey);
    border-radius: 3px;
    color: gray!important;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 80px;
    border-style: solid;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.btn-reset{
    border-color: -internal-light-dark-color(grey, grey);
    border-radius: 3px;
    color: gray!important;
    background-color: white!important;
    border-width: 1px;
    height: 30px;
    width: 80px;
    margin-left: 50px;
    border-style: solid;
    font-size: 14px!important;
    padding-left: 0px!important;
    padding-bottom: 2px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}

.actions {
    background-color: white!important;
    padding-left: 30px;
    background-color: #1379dc;
    color: gray;
    font-size: 1.2rem;
    line-height: 3.4rem;
    font-weight: 500;
    fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.u-hidden {
    display: none;
}

input[type=checkbox]{
    vertical-align: bottom;
    position: relative;
    top: -6px;
}


:focus {
    outline: none;
}

.a-FS-clearButton, .a-FS-toggleOverflow {
    font-size: 12px;
    padding-left: 20px;
    border: none;
    vertical-align: center!important;
    background-color: transparent;
    color: #0076df;
}

.fa-chevron-down {
    height: 12px;
    padding-right: 5px;
}

.a-FS-toggle {
    background-color: rgba(0,0,0,.2);
    color: #fff;
    border-radius: 2px;
    margin-right: 4px;
    border-color: transparent;
    line-height: 16px;
    cursor: pointer;
}

.a-Icon {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 8px;
    line-height: 10px;
}

.a-FS-toggleOverflow {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    color: #0076df;
    padding-bottom: 0px;
    padding-left: 30px;
    display: block;
}

*:focus {
    outline: 0 !important;
}

.fs-item-option {
    font-size: 12px;
    font-weight: normal;
    padding-left: 30px;
    line-height: 8px;
    padding-bottom: 5px;
}

.label {
    /*padding-left: 7px;*/
}

label {
    padding-top: 4px;
    display: block;
    text-indent: 9px;
}

.a-FS-header {
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
}


.fs-item-option-badge {
    padding-left: 10px;
}

.fs-item-option-badge:before {
    content: "(";
}
.fs-item-option-badge:after {
    content: ")";
}

.action-col-1 {
    float: left;
    width: 23%!important;
    padding-top: 25px!important;
    padding-left: 30px!important;
    z-index: 1!important;
}

.action-col-2 {
    float: right;
    width: 75%!important;
    padding-top: 25px!important;
}

.action-row:after {
    content: "";
    display: table;
    clear: both;
}

.modalhighlight {
    max-width: 800px!important;
}
.modalsecurity {
    max-width: 400px!important;
}

.ig-item-text {
    font-size: 14px;
    height: 20px;
}
.ig-item-select {
    font-size: 14px;
    height: 20px;
}
.u-Form-label {
    font-size: 14px;
    height: 20px;
}

.a-Button--noLabel {
    height: 20px;
    font-size: 14px;
}
.a-Button {
    height: 25px;
    width: 40px;
}

.modal-open .background-container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

input[type=checkbox]:checked + label {
    color: black;
    font-weight: bold;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    /*background-color: #bbb;*/
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #eee;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    /*background-color: #f1f1f1;*/
}